.menu{
	left:inherit;
	right:0px;
	top:30%;
}

.home-layer{
	float:right;
	width:50%;
}
@media (max-width: 768px) {
    .home-layer{
		width:100%;
	}
	.social-icons{
		float:right;
	}
	.social-icons li{
		display:inline-block;
	}
}

.about-me{
	margin: 0 0 80px;
}

.blog-post-box-content .category_name {
    display: inline-block;
    margin-bottom: 10px;
	margin-right: 10px;
    color: #a0a0a0;
    font: 400 12px Lato,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.services-box i{
	color:#000000;
}

.services-box i img{
	width:43px;
}


.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 40px;
	color: #000;
	border: 1px solid #000;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #FFF;
	background-color: #000;
	border: 1px solid #000;
}
